body
  background-color: #e6ecf0

.toolbar
  backface-visibility: hidden
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
  position: fixed
  top: 0
  right: 0
  left: 0

.global-nav
  border-bottom: 1px solid rgba(0, 0, 0, 0.25)
  height: 46px
  position: relative
  width: 100%
  .container
    width: auto
    height: 100%
    text-align: center

.global-nav-inner
  background: #fff
  height: 46px

.pull-right
  float: right
  text-align: left
  .right-actions
    align-items: center
    display: -moz-inline-box
    display: -ms-inline-flexbox
    display: inline-flex
    height: 100%
  .nav
    position: relative
    z-index: 5

.nav.right-actions>li+li
    margin-left: 16px

.nav-extras
  align-items: center
  display: inline-flex
  height: 100%

.content
  padding: 46px 0 0

.nav
  text-align: left

ul
  margin: 0
  list-style: none
  padding: 0

li
  display: list-item

.btn
  background-color: #4AB3F4
  border-color: transparent

.primary
  background-color: #1da1f2
  border: 1px solid #1da1f2
  color: #fff
  border-radius: 100px
  box-shadow: none
  cursor: pointer
  font-size: 14px
  font-weight: bold
  line-height: 20px
  padding: 6px 16px
  position: relative
  text-align: center
  white-space: nowrap

